.search {
    padding-top: 25px;
    width: 100%;
}

.search-padding {
    margin-left: .2%;
    background-color: #e0e0e0;
}

.bar-container {
    position: fixed;
    width: 80%;
    height: 145px;
    z-index: 9999;
}

.search-bar {
    margin: auto;
    display: flex;
    justify-content: center;
    min-width: 100%;
}

.search-size {
    width:100%;
}

.item {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
    align-items: center;
    padding-right: 80px;
}

.bar {
    margin-left: 20px;
}

.bar-input {
    min-width: 240px;
}

.results {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top: 160px;
    width: 100%;
    margin-right: auto;
}

a, u {
    text-decoration: none;
}

.card {
    padding-bottom: 15px;
}

.card:hover {
    opacity: .9;
}

.card-content {
    display: flex;
    flex-direction: row;
    background-color: #e0e0e0;
    justify-content: space-evenly;
}

.card-supp-details {
    display: flex;
    flex-direction: column;
}

.img {
    width: 200px;
    height: auto;
}
