.search {
    padding-top: 25px;
}

.bar-container {
    position: fixed;
    width: 80%;
}

.search-bar {
    margin: auto;
    display: flex;
    justify-content: center;
    min-width: 100%;
}

.search-size {
    width:100%;
}

.item {
    display: flex;
    flex-direction: row;
    width: 100%
}

.results {
    padding-top: 150px;
}

.card {
    width: 94%;
    padding-bottom: 15px;
}

.card-content {
    display: flex;
    flex-direction: row;
}

.card-supp-details {
    display: flex;
    flex-direction: column;
}

.img {
    width: 200px;
    height: auto;
}
