.header {
  padding-left: 10px;
  color: white;
}

.section {
  display: flex;
  flex-direction: row;
  background-color: #282c34;
}

.menu {
  display: flex;
  flex-direction: column;
  min-width: 15%;
  position: fixed;
  background-color: #282c34;
  height: 100%;
}

.menu-link {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

input {
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
